node_modules
dist
dist-ssr
*.local
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea

# unused large source video
public/hero1_pingpong.mp4
